Repository NdururiJr/lorenzo-management-pos-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write --ignore-unknown --cache

chore: format config files with prettier
  firebase.json
  lib/db/README.md
Due: prettier --write --ignore-unknown --cache

Task division
  DEVELOPER_WORK_DISTRIBUTION.md
  Documentation/ARTHUR_TASKS.md
  Documentation/JERRY_TASKS.md
  Documentation/KICKOFF_MEETING_AGENDA.md
  WORK_DISTRIBUTION_SUMMARY.md
Due: prettier --write --ignore-unknown --cache

Jerrys push
  Documentation/CREATING_TEST_ORDERS.md
  Documentation/DEVELOPER_WORK_DISTRIBUTION.md
  Documentation/IMPLEMENTATION_AUDIT.md
  Documentation/WORK_DISTRIBUTION_SUMMARY.md
  JERRY_TASKS.md
  TASKS.md
  components/features/workstation/WorkstationAnalytics.tsx
  next.config.ts
  package-lock.json
Due: eslint --fix --max-warnings=0, prettier --write --ignore-unknown --cache

Hero section Sorted
  Documentation/MARKETING_SITE_TESTING.md
  Documentation/VIEW_MARKETING_SITE.md
  app/page.tsx
  app/page.tsx.backup
  components/marketing/CTABand.tsx
  components/marketing/FeaturesGrid.tsx
  components/marketing/Footer.tsx
  components/marketing/GlassCard.tsx
  components/marketing/Header.tsx
  components/marketing/HeroVideo.tsx
  components/marketing/ProcessSteps.tsx
  components/marketing/Testimonials.tsx
  package-lock.json
  package.json
  public/images/marketing/README.md
  public/videos/README.md
  public/videos/hero-video.mp4
  tailwind.config.ts
Due: eslint --fix --max-warnings=0, prettier --write --ignore-unknown --cache

About Us Section
  app/page.tsx
  components/marketing/AboutLorenzo.tsx
  components/marketing/HeroVideo.tsx
  public/images/marketing/about-hero.jpg
Due: eslint --fix --max-warnings=0, prettier --write --ignore-unknown --cache

ss
  .claude/settings.local.json
Due: prettier --write --ignore-unknown --cache

Home page implementation
  app/globals.css
  app/page.tsx
  components/marketing/AboutLorenzo.tsx
  components/marketing/FeaturedBlogs.tsx
  components/marketing/FeaturesGrid.tsx
  components/marketing/Footer.tsx
  components/marketing/Newsletter.tsx
  components/marketing/ProcessSteps.tsx
  components/marketing/Testimonials.tsx
  public/images/blog/dry-cleaning.jpg
  public/images/blog/garment-care.jpg
  public/images/blog/sustainable.jpg
  public/images/marketing/newsletter-bg.jpg
Due: eslint --fix --max-warnings=0, prettier --write --ignore-unknown --cache

Final Page UI implementation
  app/about/page.tsx
  app/api/contact/route.ts
  app/blog/[slug]/page.tsx
  app/blog/page.tsx
  app/contact/page.tsx
  app/faq/page.tsx
  app/help/page.tsx
  app/privacy/page.tsx
  app/services/page.tsx
  app/terms/page.tsx
  components/marketing/BlogCategories.tsx
  components/marketing/BlogGrid.tsx
  components/marketing/BlogHero.tsx
  components/marketing/BlogPostContent.tsx
  components/marketing/BlogPostFooter.tsx
  components/marketing/BlogPostHero.tsx
  components/marketing/CompanyStory.tsx
  components/marketing/ContactForm.tsx
  components/marketing/ContactInfo.tsx
  components/marketing/Footer.tsx
  components/marketing/Header.tsx
  components/marketing/OurValues.tsx
  components/marketing/PricingSection.tsx
  components/marketing/ServicesGrid.tsx
  components/marketing/StatsBar.tsx
Due: eslint --fix --max-warnings=0, prettier --write --ignore-unknown --cache

feat: Add comprehensive SEO, tests, and deployment readiness improvements
  .env.example
  app/layout.tsx
  app/robots.ts
  app/sitemap.ts
  e2e/authentication.spec.ts
  e2e/customer-portal.spec.ts
Due: eslint --fix --max-warnings=0, prettier --write --ignore-unknown --cache

fix: Configure ESLint to allow deployment while maintaining quality
  eslint.config.mjs
Due: none

fix: Add missing 'inspection' status to OrderStatus type
  components/ui/status-badge.tsx
Due: eslint --fix --max-warnings=0, prettier --write --ignore-unknown --cache

fix: Use userData.branchId instead of user.branchId
  app/(dashboard)/employees/page.tsx
  app/(dashboard)/inventory/page.tsx
  components/layout/NotificationBell.tsx
Due: eslint --fix --max-warnings=0, prettier --write --ignore-unknown --cache

fix: Add QueryConstraint type to pickups page constraints array
  app/(dashboard)/pickups/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write --ignore-unknown --cache

fix: Use conditional spread for optional attemptsMade property
  app/api/test/wati/route.ts
Due: eslint --fix --max-warnings=0, prettier --write --ignore-unknown --cache

POS to Customers
  app/(customer)/orders/[orderId]/page.tsx
  app/(customer)/portal/orders/[orderId]/page.tsx
  app/(customer)/portal/orders/page.tsx
  app/(dashboard)/branches/page.tsx
  app/(dashboard)/customers/[customerId]/page.tsx
  app/(dashboard)/customers/page.tsx
  app/(dashboard)/orders/[orderId]/page.tsx
  app/(dashboard)/orders/page.tsx
  app/(dashboard)/pipeline/page.tsx
  app/(dashboard)/pricing/page.tsx
  app/(dashboard)/reports/page.tsx
  app/(dashboard)/settings/page.tsx
  app/(dashboard)/transactions/page.tsx
  components/features/customer/ActiveOrders.tsx
  components/features/customer/MobileBottomNav.tsx
  components/features/customer/OrdersList.tsx
  components/features/customer/QuickActions.tsx
  components/features/customer/RecentActivity.tsx
  components/features/pos/CreateCustomerModal.tsx
  components/features/pos/GarmentEntryForm.tsx
  components/features/pos/OrderSummary.tsx
  components/modern/ModernSidebar.tsx
  components/ui/empty-state.tsx
  lib/db/orders.ts
  lib/utils.ts
Due: eslint --fix --max-warnings=0, prettier --write --ignore-unknown --cache

Deliveries Page Branch Filtering
  app/(dashboard)/branches/[branchId]/page.tsx
  app/(dashboard)/branches/page.tsx
  app/(dashboard)/dashboard/page.tsx
  app/(dashboard)/deliveries/page.tsx
  components/branches/BranchAudit.tsx
  components/branches/BranchDetailContent.tsx
  components/branches/BranchHeader.tsx
  components/branches/BranchInventory.tsx
  components/branches/BranchOverview.tsx
  components/branches/BranchStaff.tsx
  components/branches/BranchStatsGrid.tsx
  components/branches/BranchTransfers.tsx
  contexts/AuthContext.tsx
  docs/BRANCH_ACCESS.md
  docs/BRANCH_ACCESS_IMPLEMENTATION.md
  docs/BRANCH_DETAIL_IMPLEMENTATION_REPORT.md
  docs/BRANCH_DETAIL_PAGE_PLAN.md
  docs/BRANCH_FILTERING_IMPLEMENTATION_PLAN.md
  docs/BRANCH_SCOPING_IMPLEMENTATION_REPORT.md
  docs/CODEX_VERIFICATION_PROMPT.md
  docs/SUPER_ADMIN_SETUP.md
  firestore.rules
  lib/auth/branch-access.ts
  lib/auth/utils.ts
  lib/db/audit-logs.ts
  lib/db/inventory-transfers.ts
  lib/db/orders.ts
  lib/db/schema.ts
  scripts/check-branches.ts
  scripts/seed-branches.ts
  scripts/seed-dev-user.ts
Due: eslint --fix --max-warnings=0, prettier --write --ignore-unknown --cache

Brant one
  app/(dashboard)/employees/page.tsx
  app/(dashboard)/pricing/page.tsx
  app/(dashboard)/reports/page.tsx
  app/(dashboard)/transactions/page.tsx
  components/features/employees/AddEmployeeModal.tsx
  components/features/employees/EmployeeTable.tsx
  components/features/pricing/AddPricingModal.tsx
  components/layout/Sidebar.tsx
  docs/DASHBOARD_FEATURES_IMPLEMENTATION_PLAN.md
  docs/PRICING_ADMIN_ONLY_PLAN.md
  lib/db/schema.ts
  lib/db/transactions.ts
  lib/payments/payment-service.ts
Due: eslint --fix --max-warnings=0, prettier --write --ignore-unknown --cache

Customers sorted
  .vscode/extensions.json
  app/(customer)/layout.tsx
  app/(customer)/portal/contact/page.tsx
  app/(customer)/portal/orders/[orderId]/page.tsx
  app/(customer)/portal/orders/page.tsx
  app/(customer)/portal/page.tsx
  app/(customer)/portal/request-pickup/page.tsx
  app/(customer)/profile/page.tsx
  app/(dashboard)/admin/seed-data/page.tsx
  components/features/customer/ActiveOrders.tsx
  components/features/customer/AddAddressModal.tsx
  components/features/customer/BranchInfoCard.tsx
  components/features/customer/CustomerSidebar.tsx
  components/features/customer/EditAddressModal.tsx
  components/features/customer/LiveDriverMap.tsx
  components/features/customer/MobileBottomNav.tsx
  components/features/customer/OrderStatusBanner.tsx
  components/features/customer/OrdersList.tsx
  components/features/customer/PaymentInfo.tsx
  components/features/customer/QuickActions.tsx
  components/features/customer/RecentActivity.tsx
  components/features/customer/RequestPickupModal.tsx
  components/features/customer/WelcomeHeader.tsx
  docs/ADDRESS_UI_IMPROVEMENTS.md
  docs/CUSTOMER_PORTAL_IMPROVEMENTS.md
  firestore.indexes.json
  firestore.rules
  lib/db/driver-locations.ts
  lib/db/orders.ts
  lib/db/schema.ts
  lib/db/users.ts
  middleware.ts
  scripts/check-orders.js
  scripts/cleanup-orphaned-orders.js
  scripts/create-admin-customer.ts
  scripts/create-westlands-branch.js
Due: eslint --fix --max-warnings=0, prettier --write --ignore-unknown --cache

customer portal
  app/(customer)/portal/orders/page.tsx
  app/(customer)/portal/page.tsx
Due: eslint --fix --max-warnings=0, prettier --write --ignore-unknown --cache

Customer sorted
  .env.example
  app/(auth)/setup-dev/page.tsx
  app/(auth)/verify-otp/page.tsx
  app/(customer)/portal/orders/[orderId]/page.tsx
  app/(customer)/portal/profile/page.tsx
  app/error.tsx
  app/not-found.tsx
  components/features/customer/PaymentStub.tsx
  docs/EMAIL_IMPLEMENTATION_GUIDE.md
  docs/MULTIPLE_EMAIL_SENDERS_IMPLEMENTATION.md
  docs/NOTIFICATIONS_AND_LIVE_TRACKING_PLAN.md
  docs/SHIPPING_READINESS_PLAN.md
  docs/SHIP_READINESS_AND_EMAIL_SENDERS_COMPLETE.md
  docs/SHIP_READINESS_COMPLETION_REPORT.md
  emails/README.md
  emails/order-confirmation.tsx
  emails/order-status-update.tsx
  emails/password-reset.tsx
  emails/receipt.tsx
  firestore.indexes.json
  firestore.rules
  lib/email-templates-html.ts
  lib/resend.ts
  next.config.ts
  package-lock.json
  package.json
  scripts/backfill-transaction-branchid.js
  scripts/seed-test-orders.ts
  scripts/verify-deliveries-branchid.js
  services/email.ts
Due: eslint --fix --max-warnings=0, prettier --write --ignore-unknown --cache

feat: implement critical security fixes
  .env.example
  app/(customer)/portal/layout.tsx
  app/(customer)/portal/profile/page.tsx
  app/actions/notifications.ts
  app/api/deliveries/[deliveryId]/location/route.ts
  app/api/webhooks/order-notifications/route.ts
  components/features/customer/LiveDriverMap.tsx
  docs/LAUNCH_READINESS_IMPLEMENTATION.md
  docs/LAUNCH_READINESS_REPORT.md
  docs/SESSION_COMPLETION_SUMMARY.md
  docs/SHIP_READINESS_AND_EMAIL_SENDERS_COMPLETE.md
  firestore.indexes.json
  firestore.rules
  lib/db/orders.ts
  lib/db/schema.ts
  lib/notifications/trigger.ts
  package-lock.json
  package.json
  services/wati.ts
Due: eslint --fix --max-warnings=0, prettier --write --ignore-unknown --cache

driver access sorted
  app/(dashboard)/customers/[customerId]/page.tsx
  app/(dashboard)/orders/[orderId]/page.tsx
  app/error.tsx
  app/not-found.tsx
  build.log
  package.json
  scripts/seed-test-driver.ts
Due: eslint --fix --max-warnings=0, prettier --write --ignore-unknown --cache

Wati tested
  .env.example
  CLAUDE.md
  WATI_IMPLEMENTATION_SUMMARY.md
  WATI_TESTING_RESULTS.md
  docs/WATI_SETUP.md
  lib/db/schema.ts
  lib/pipeline/pipeline-helpers.ts
  scripts/test-wati-custom-template.ts
  scripts/test-wati-debug.ts
  scripts/test-wati-no-instance.ts
  scripts/test-wati.ts
  services/wati.ts
Due: eslint --fix --max-warnings=0, prettier --write --ignore-unknown --cache

v1 completed
  .claude/settings.local.json
  MANUAL_TESTING_GUIDE.md
  TESTING_QUICK_REFERENCE.md
  docs/AUTOMATED_TESTING_COMPLETE.md
  docs/AUTOMATED_TESTING_GUIDE.md
  docs/END_TO_END_TESTING_GUIDE.md
  docs/TESTING_IMPLEMENTATION_STATUS.md
  jest.config.js
  jest.config.ts
  lib/pipeline/status-manager.ts
  package.json
  playwright.config.ts
  scripts/SEEDING_GUIDE.md
  scripts/seed-test-accounts.ts
  tests/e2e/customer-portal.spec.ts
  tests/e2e/pos-order-creation.spec.ts
  tests/helpers/mock-integrations.ts
  tests/helpers/test-data-factory.ts
  tests/helpers/test-utils.tsx
  tests/integration/order-lifecycle.test.ts
  tests/setup.ts
  tests/unit/auth/login.test.tsx
  tests/unit/auth/validation.test.ts
  tests/unit/orders/pricing.test.ts
  tests/unit/orders/validation.test.ts
  tests/unit/payments/payment-service.test.ts
  tests/unit/payments/transactions.test.ts
  tests/unit/payments/validation.test.ts
  tests/unit/pipeline/helpers.test.ts
  tests/unit/pipeline/status-transitions.test.ts
Due: eslint --fix --max-warnings=0, prettier --write --ignore-unknown --cache

docs: add project updates and planning documents
  docs/updates/AUDIT-FINDINGS-JAN22-2026.md
  docs/updates/CONSOLIDATED-FIX-PLAN-JAN22-2026.md
  docs/updates/IMPLEMENTATION-STATUS-REPORT-JAN26-2026.md
  docs/updates/PERFORMANCE-RECOMMENDATIONS-JAN22-2026.md
  docs/updates/PRODUCTION-LAUNCH-GUIDE.md
  docs/updates/PRODUCTION-READINESS-ANALYSIS-JAN23-2026.md
  docs/updates/PRODUCTION-READINESS-FIX-PLAN.md
  docs/updates/PRODUCTION-READINESS-TASKS.md
  docs/updates/TEST-PLAN-PHASE-1-2.md
  docs/updates/TSEA-CRM-FEATURES-BUILD-PLAN-JAN23-2026.md
  docs/updates/TSEA-ERP CRM.pdf
  docs/updates/claude.md
  docs/updates/planning.md
  docs/updates/tasks.md
Due: prettier --write --ignore-unknown --cache

docs: Add ESLint guidelines and fix CSS import order
  ESLINT_GUIDELINES.md
  app/globals.css
Due: prettier --write --ignore-unknown --cache

fix: update Next.js to 15.5.12 to fix CVE-2025-66478 vulnerability
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown --cache

feat(website): add SEO infrastructure - robots.txt, sitemap, structured data, security headers
  website/app/blog/[slug]/page.tsx
  website/app/blog/layout.tsx
  website/app/contact/page.tsx
  website/app/faq/layout.tsx
  website/app/faq/page.tsx
  website/app/opengraph-image.tsx
  website/app/page.tsx
  website/app/robots.ts
  website/app/services/page.tsx
  website/app/sitemap.ts
  website/app/twitter-image.tsx
  website/components/seo/JsonLd.tsx
  website/next.config.ts
Due: eslint --fix --max-warnings=0, prettier --write --ignore-unknown --cache

fix(website): remove hero CTA buttons from homepage
  website/app/page.tsx
  website/components/marketing/HeroVideo.tsx
Due: eslint --fix --max-warnings=0, prettier --write --ignore-unknown --cache

style(website): apply Lorenzo theme to homepage hero section
  website/app/page.tsx
  website/components/marketing/HeroVideo.tsx
Due: eslint --fix --max-warnings=0, prettier --write --ignore-unknown --cache

docs: add data cleanup and staff management plan
  docs/upgrades/DATA_CLEANUP_STAFF_MANAGEMENT.md
Due: prettier --write --ignore-unknown --cache

Path conditions:
  eslint --fix --max-warnings=0: any of: *.{js,jsx,ts,tsx}
  prettier --write --ignore-unknown --cache: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,css})
